{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "transform-rebem-jsx",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        [
            "module-resolver", {
            "root": ["./"],
            "alias": {
                "Style": "./src/app/style/",
                "Component": "./src/app/component/",
                "Store": "./src/app/store/",
                "Util": "./src/app/util/",
                "Type": "./src/app/type/"
            }
        }]
    ]
}