$white: #fff;
$black: #0a0a0a;
$default-primary-base-color: #1493FF;
$default-primary-dark-color: #0b65b3;
$default-primary-light-color: #57b1ff;
$default-secondary-base-color: #eee;
$default-secondary-dark-color: #929292;
$default-secondary-light-color: #f8f8f8;
$font-muli: 'Muli', sans-serif;
$font-standard-size: 12px;
$font-mobile-size: 14px;
